<html>
	<head>
		<title>Saddle Quiz</title>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
		<script type="text/javascript" src="js/app.js"></script>
		<link rel="stylesheet" type="text/css" href="css/style.css" />
	</head>
	<body>
		<div class="wrapper">
		<h1>Saddle Up! <span id="message"></span></h1>
		<table>
			<tr>
				<td><input type="text" size="3"></td>
				<td><input type="text" size="3"></td>
				<td><input type="text" size="3"></td>
				<td><input type="text" size="3"></td>
				<td><input type="text" size="3"></td>
			</tr>
			<tr>
				<td><input type="text" size="3"></td>
				<td><input type="text" size="3"></td>
				<td><input type="text" size="3"></td>
				<td><input type="text" size="3"></td>
				<td><input type="text" size="3"></td>
			</tr>
			<tr>
				<td><input type="text" size="3"></td>
				<td><input type="text" size="3"></td>
				<td><input type="text" size="3"></td>
				<td><input type="text" size="3"></td>
				<td><input type="text" size="3"></td>
			</tr>
			<tr>
				<td><input type="text" size="3"></td>
				<td><input type="text" size="3"></td>
				<td><input type="text" size="3"></td>
				<td><input type="text" size="3"></td>
				<td><input type="text" size="3"></td>
			</tr>
			<tr>
				<td><input type="text" size="3"></td>
				<td><input type="text" size="3"></td>
				<td><input type="text" size="3"></td>
				<td><input type="text" size="3"></td>
				<td><input type="text" size="3"></td>
			</tr>
		</table>
		<div class="controls">
			<button id="reseed">Randomize</button>
			<input type="submit" id="submit" value="Find My Saddle">
		</div>
		</div>
	</body>
</html>